@model int
@{
    ViewBag.Title = "GetLengthOfQueue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get The Length Of The Message Queue</h2>

<p>The length of the message queue is @Model</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>